{% extends "base.html" %}

{% block content %}

<div>
    <h1>Crear Menu del Día</h1>

    <form method="post" action".">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Publicar</button>
    </form>

    {% if post  %}

      {{msg}}    
      Un recordatrio ha sido programado, para ver los pedidos y editar los recordatorios de slack dirigirse a:
      <a href = "{% url 'mealmngmt:menu-details' uuid %}">{{detaillink}}</a>

      Link del menu único para los usuarios:
      <a href = "{% url 'mealmngmt:menu' uuid %}">{{sharelink}}</a>
      
    {% endif %}
</div>

{% endblock content %}