{% extends "base.html" %} {% block content %}
<script>jQuery(document).ready(function(){ jQuery('.timepicker').datepicker(); });</script>
<div>
	<h1>Menu del Día {{menu.date}}</h1>

	<p>{{menu.message}}</p>

	</h2>Editar recordatorio:</h2>
	<form method="post" action".">
      {% csrf_token %}
		{{form}}
		<button>Actualizar recordatorio</button>
		<p>{{msg}}
	</form>
	<h2>Lista de Pedidos</h2>

	<ul>
		{% for request in requests %}
		<li>
			{{request.first_name}} {{request.last_name}} {{request.option}}
			{{request.customization}}
		</li>
		{% endfor %}
	</ul>
    

</div>

{% endblock content %}
