<header class="text-gray-700 body-font">
	<div
		class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
	>
		{% if request.user.is_authenticated %}
		<a href="{% url 'mealmngmt:create-menu' %}"> Crear Menu </a>
		<a href="{% url 'mealmngmt:menu-list' %}"> Lista de Menus </a>

		Logged in as: {{ request.user.username }}
		<a
			href="{% url 'logout' %}"
			class="ml-3 inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0"
		>
			Logout
		</a>
		{% else %}
		<a
			href="{% url 'login' %}"
			class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0"
		>
			Login
		</a>
		{% endif %}
	</div>
</header>
